
.search-bar, .container{
    background-color: lightgray;
    border-radius:5px;
    padding:10px;
    margin-bottom: 10px;
}
.search-row{
    display:table;
    width:100%;
    table-layout: fixed;
    margin: 0 0 5px 0;
}
.form-item{
    display:table-cell;
    text-align: center;
    padding: 2px;
}
.search-row.header-row {
    border-bottom-style: groove;
}
input[type="text"]{
    width: 90%;
    height: 30px;
    padding-left: 5px;
}
select{
    width: 70%;
    height: 30px;
    padding-left: 5px;
}
.header-row > .first-item {
    text-align: left;
}
.header-row > .last-item{
    text-align: right;
}
button{
    border-radius:5px;
    padding:0 5px 0 5px;
    cursor:pointer;
}

.is-single{
    width:100%;
}
.sidenav{
    display: none;
}

.search-row.optional-row {
    display: none;
}

p.primary {
    font-weight: 900;
    font-size: 1.4em;
}

p.secondary{
    font-weight: 700;
}
.table-headers {
    display: none;
}

li.table-cell {
    list-style: none;
    vertical-align:middle;
}

div#sidenav {
    display: none;
}

.table-headers {
    display: table-row;
}

.search{
    margin-bottom:5vh;
}

li.table-cell.long-cell {
    max-width: 18vw;
    word-wrap: break-word;
}
li.table-cell.short-cell {
    min-width: 8vw;
}

@media screen and (max-width: 768px) {
    ul.table-row {
        display: block;
        margin-bottom: 10px;
        padding: 5px 0 5px 0;
        border-bottom: solid 1px #ccc;
    }
    .table-header{
        display:none;
    }

    li.table-cell{
        margin-bottom: 10px;
        max-width: 90%;
    }

    li.table-cell.long-cell {
        background-color: rgba(-19, 288, 304, 78);
        max-width: 95%;
    }

    .form-item{
        display:block;
    }

    .search-row.header-row .form-item{
        float:left;
    }
    .header-row .first-item{
        float:none;
    }

}

@media screen and (min-width: 1024px) {
    #stage-content {
        width: auto;
    }
}
/*maps*/


#map {
    height: 95%;
    position: relative;
    overflow-y: hidden !important;
    overflow-x: auto !important;

}

#toolbar {
    cursor: default;
    display: block;
    max-width:25%;
    float: left;
    margin-right: 25px;
    margin-left: 10px;
}

#stage-content {
    height: 800px;
}

html, body, #wrapper {
    height: 100%;
    margin: 0;
    padding: 0;
}

.dropdown-menu {
    padding-left: 10px;
}

address {
    padding-right: 2px;
}
