.query-filter-readonly {
    opacity: 0.4;
}

#search-widget {
    margin-bottom: 25px;    
}

.record-documents {
    text-align:center;
    border:1px solid #ccc;
    padding:50px;
}

.search-bar {
    background-color: lightgray;
    border-radius:5px;
    padding:10px;
    margin-bottom: 10px;
}
.search-row {
    display:table;
    width:100%;
    table-layout: fixed;
    margin: 0 0 5px 0;
}



.header-row > .first-item {
    text-align: left;
}
.header-row > .last-item {
    text-align: right;
}
button {
    border-radius:5px;
    padding:0 5px 0 5px;
    cursor:pointer;
}

.is-single {
    width:100%;
}
.sidenav {
    display: none;
}

.search-row.optional-row {
    display: none;
}

p.primary {
    font-weight: 900;
    font-size: 1.4em;
}

p.secondary {
    /* font-weight: 700; */
}
.table-headers {
    display: none;
}

li.table-cell {
    list-style: none;
    vertical-align:middle;
}

div#sidenav {
    display: none;
}

.table-headers {
    display: table-row;
}



li.table-cell.long-cell {
    max-width: 18vw;
    word-wrap: break-word;
}
li.table-cell.short-cell {
    min-width: 8vw;
}

@media screen and (max-width: 768px) {
    ul.table-row {
        display: block;
        margin-bottom: 10px;
        padding: 5px 0 5px 0;
        border-bottom: solid 1px #ccc;
    }
    .table-header{
        display:none;
    }

    li.table-cell{
        margin-bottom: 10px;
        max-width: 90%;
    }

    li.table-cell.long-cell {
        background-color: rgba(-19, 288, 304, 78);
        max-width: 95%;
    }

    .form-item{
        display:block;
    }

    .search-row.header-row .form-item{
        float:left;
    }
    .header-row .first-item{
        float:none;
    }

}

@media screen and (min-width: 1024px) {
    #stage-content {
        width: auto;
    }
}
/*maps*/


#map {

}
#map-container {
    min-height: 700px;
    min-width: 800px;
    display: inline;
}




#map {
    height: 95%;
    position: relative;
    min-height: 700px;
    max-width: 1500px;
    display: block;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}

#toolbar {
    cursor: default;
    display: block;
    max-width:25%;
    float: left;
    margin-right: 25px;
    margin-left: 10px;
}

#toolbar li {
    list-style-type: none;
}
#toolbar label {
    display: inline;
}


.dropdown-menu {
    padding-left: 10px;
}

address {
    padding-right: 2px;
}





/** new styles **/

.entry.entry-directory {
    height: 85px;
}

span.entry-name {
    font-size: 1.25em;
    line-height: 1.35em;
}



span.entry-contact-type {
    display: block;
    line-height: 1.60em;
}

span.entry-city {
    display: block;
}

